# 5th Tutorial: Updating Rows and Columns

In [68]:
people ={
    'first' : ['David' , 'Sam' , 'Justin'],
    'last'  : ['Campbell' , 'Smith' , 'Jozokas'],
    'email' : ['DavidCampbell@gmail.com' , 'SamSmith@gmail.com' , 'JustinJozokas@gmail.com']
}

import pandas as pd

ex_people = pd.DataFrame(people)

ex_people

df = pd.read_csv('data/survey_results_public.csv' , index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv')

pd.set_option('display.max_columns' , 85)
pd.set_option('display.max_rows' , 85)

In [33]:
ex_people

    first      last                    email
0   David  Campbell  DavidCampbell@gmail.com
1     Sam     Smith       SamSmith@gmail.com
2  Justin   Jozokas  JustinJozokas@gmail.com

In [34]:
ex_people.columns

Index(['first', 'last', 'email'], dtype='object')

Below is a method of changing the column names.

In [35]:
ex_people.columns = ['first name' , 'last name' , 'email']

In [36]:
ex_people

  first name last name                    email
0      David  Campbell  DavidCampbell@gmail.com
1        Sam     Smith       SamSmith@gmail.com
2     Justin   Jozokas  JustinJozokas@gmail.com

In [37]:
ex_people.columns = [x.upper() for x in ex_people.columns ]

In [38]:
ex_people

  FIRST NAME LAST NAME                    EMAIL
0      David  Campbell  DavidCampbell@gmail.com
1        Sam     Smith       SamSmith@gmail.com
2     Justin   Jozokas  JustinJozokas@gmail.com

In [41]:
ex_people['LAST NAME']

0    Campbell
1       Smith
2     Jozokas
Name: LAST NAME, dtype: object

In [42]:
ex_people.columns = ex_people.columns.str.replace(' ' , "_")

In [43]:
ex_people

  FIRST_NAME LAST_NAME                    EMAIL
0      David  Campbell  DavidCampbell@gmail.com
1        Sam     Smith       SamSmith@gmail.com
2     Justin   Jozokas  JustinJozokas@gmail.com

In [44]:
ex_people.columns = [x.lower() for x in ex_people.columns]
ex_people

  first_name last_name                    email
0      David  Campbell  DavidCampbell@gmail.com
1        Sam     Smith       SamSmith@gmail.com
2     Justin   Jozokas  JustinJozokas@gmail.com

In [45]:
ex_people.rename( columns = {'first_name':'first', 'last_name':'last'}, inplace=True)
ex_people

    first      last                    email
0   David  Campbell  DavidCampbell@gmail.com
1     Sam     Smith       SamSmith@gmail.com
2  Justin   Jozokas  JustinJozokas@gmail.com

In [46]:
ex_people.loc[2]

first                     Justin
last                     Jozokas
email    JustinJozokas@gmail.com
Name: 2, dtype: object

In [47]:
ex_people.loc[2] = ['Justin' , 'Smith' , 'JustinSmith@gmail.com']

In [48]:
ex_people

    first      last                    email
0   David  Campbell  DavidCampbell@gmail.com
1     Sam     Smith       SamSmith@gmail.com
2  Justin     Smith    JustinSmith@gmail.com

In [49]:
ex_people.loc[2 , ['last', 'email']] = ['Jozokas' , 'JustinJozokas@gmail.com']

In [50]:
ex_people

    first      last                    email
0   David  Campbell  DavidCampbell@gmail.com
1     Sam     Smith       SamSmith@gmail.com
2  Justin   Jozokas  JustinJozokas@gmail.com

In [51]:
ex_people.loc[2 , "last"] ='Smith'
ex_people

    first      last                    email
0   David  Campbell  DavidCampbell@gmail.com
1     Sam     Smith       SamSmith@gmail.com
2  Justin     Smith  JustinJozokas@gmail.com

In [52]:
ex_people.at[2, "last"] = 'Jozokas'
ex_people

    first      last                    email
0   David  Campbell  DavidCampbell@gmail.com
1     Sam     Smith       SamSmith@gmail.com
2  Justin   Jozokas  JustinJozokas@gmail.com

In [56]:
filt = ex_people.email == 'JustinJozokas@gmail.com'

Below is not the ideal method to up

In [58]:
ex_people.loc[2 , 'last'] = "Jozokas"
ex_people

    first      last                    email
0   David  Campbell  DavidCampbell@gmail.com
1     Sam     Smith       SamSmith@gmail.com
2  Justin   Jozokas  JustinJozokas@gmail.com

In [59]:
ex_people.email.str.lower()

0    davidcampbell@gmail.com
1         samsmith@gmail.com
2    justinjozokas@gmail.com
Name: email, dtype: object

In [60]:
ex_people.email = ex_people.email.str.lower()
ex_people

    first      last                    email
0   David  Campbell  davidcampbell@gmail.com
1     Sam     Smith       samsmith@gmail.com
2  Justin   Jozokas  justinjozokas@gmail.com

In [61]:
ex_people['email'].apply( len )

0    23
1    18
2    23
Name: email, dtype: int64

In [62]:
def update_email(email):
    return email.upper()

ex_people.email.apply( update_email )

0    DAVIDCAMPBELL@GMAIL.COM
1         SAMSMITH@GMAIL.COM
2    JUSTINJOZOKAS@GMAIL.COM
Name: email, dtype: object

In [63]:
ex_people.email = ex_people.email.apply( update_email )

ex_people

    first      last                    email
0   David  Campbell  DAVIDCAMPBELL@GMAIL.COM
1     Sam     Smith       SAMSMITH@GMAIL.COM
2  Justin   Jozokas  JUSTINJOZOKAS@GMAIL.COM

In [122]:
ex_people.email = ex_people.email.apply( lambda x : x.lower() )

ex_people

    first       last                    email
0   David   Campbell  davidcampbell@gmail.com
1     Sam  Fingerman   samfingerman@gmail.com
2  Justin    Jozokas  justinjozokas@gmail.com

In [124]:
df.apply( len , axis='columns')

Respondent
1        84
2        84
3        84
4        84
5        84
         ..
88377    84
88601    84
88802    84
88816    84
88863    84
Length: 88883, dtype: int64

In [126]:
ex_people.email.apply(len)

0    23
1    22
2    23
Name: email, dtype: int64

In [131]:
ex_people.apply(len , axis='columns')

0    3
1    3
2    3
dtype: int64

In [137]:
ex_people.apply(pd.Series.min)

first                      David
last                    Campbell
email    DavidCampbell@gmail.com
dtype: object

In [147]:
ex_people.apply( lambda x : x.min() )

first                      David
last                    Campbell
email    DavidCampbell@gmail.com
dtype: object

In [141]:
ex_people.applymap( len )

   first  last  email
0      5     8     23
1      3     5     18
2      6     7     23

In [142]:
ex_people.applymap( str.lower )

    first      last                    email
0   david  campbell  davidcampbell@gmail.com
1     sam     smith       samsmith@gmail.com
2  justin   jozokas  justinjozokas@gmail.com

In [149]:
ex_people['first'].map({'David':'Dave' , 'Sam':'Samual'})

0      Dave
1    Samual
2       NaN
Name: first, dtype: object

In [150]:
ex_people['first'].replace({'David':'Dave' , 'Sam':'Samual'})

0      Dave
1    Samual
2    Justin
Name: first, dtype: object

In [162]:
ex_people.loc[:, 'first'] = ex_people.loc[:, 'first'].replace({'David':'Dave' , 'Sam':'Samual'})
ex_people

    first      last                    email
0    Dave  Campbell  DavidCampbell@gmail.com
1  Samual     Smith       SamSmith@gmail.com
2  Justin   Jozokas  JustinJozokas@gmail.com

In [165]:
df.rename(columns = {"ConvertedComp":"SalaryUSD"}, inplace=True)
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;Other(s):,C++;HTML/CSS;JavaScript;SQL;WebAssembly;Other(s):,Firebase;SQLite,Firebase;MySQL;SQLite,Linux,Google Cloud Platform;Linux,jQuery,jQuery;Vue.js,Node.js,React Native;Unity 3D;Unreal Engine,Atom;Visual Studio;Visual Studio Code,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,What?,YouTube,NaN,Username,I don't remember,A few times per week,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not at all",NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,NaN,NaN,8,11,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,C;C++;C#;HTML/CSS;Java;Objective-C;SQL;Swift,DynamoDB;MariaDB;Microsoft SQL Server;MySQL,MariaDB;MySQL;Oracle;SQLite,iOS;Linux;MacOS;WordPress,Android;AWS;Google Cloud Platform;IBM Cloud or...,Django;jQuery;React.js,Django,Unity 3D;Unreal Engine,NaN,Android Studio;Atom;Eclipse;NetBeans;Notepad++...,Linux-based,Production,NaN,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Also Yes,Yes,WhatsApp,In real life (in person),NaN,2012,Daily or almost daily,Find answers to specific questions;Learn how t...,6-10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,Yes,"No, I've heard of them, but I am not part of a...","Yes, somewhat",Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [69]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
88377    Yes
88601     No
88802     No
88816     No
88863    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [70]:
df['Hobbyist'].replace( {'Yes':True , 'No':False} )

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool

Both the replace and map function works here.

In [71]:
df['Hobbyist'] = df['Hobbyist'].map( {'Yes':True , 'No':False} )
# df['Hobbyist'] = df['Hobbyist'].map( {'Yes':True , 'No':False} )
df['Hobbyist']

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool